@import "tailwindcss";

@theme {
  --color-carbon: #14161b;
  --color-carbon-surface: #1e2233;
  --color-accent-blue: #4d8af0;
  --color-accent-green: #4ade80;
  --color-muted: #8b93a7;
}

body {
  background-color: var(--color-carbon);
  color: white;
}